* {
    margin: 0;
}

body {
    color: white;
    background: url('../images/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.hero {
    max-width: 1440px;
    height: 100vh;
    display: flex;
    margin: 0 auto;

}

.graphics, .text {
    display: flex;
    flex-wrap: wrap;
    margin: 3% 0;
}

.graphics {
    margin-left: 5%;
    width: 60%;
}

.text {
    width: 40%;
    margin: 5% 5% 2% 0;
    align-items: center;
    justify-content: flex-end;
}



.logo figure {
    height:2em;
}

.logo img {
    height: 2em;
}

.illustration-mockups {
    width: 100%;
    justify-content: center; 
}


.illustration-mockups  img{
    max-width: 92%;
}

.website-info {
    margin: 2.5em 0 0 0;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
}

.description {
    margin-top: 1.4em;
    font-size: .8em;
    line-height: 1.5em;
}

.register-button{
    margin-top: 1.5em;
    height: 3em;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: hsl(257, 40%, 49%) ;
    width: 140px;
    border-radius: 3em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    background-color: white;
}

.social-links {
    align-self: flex-end;
    display: flex;
}

.fab {
    border: 1px solid white;
    height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: .8em;
    margin-left: .8em;
}

@media screen and (max-width: 375px) {
    body {
        font-size: 17px;
        background: url(../images/bg-mobile.svg);
        background-color: hsl(257, 40%, 49%);
        background-size: 100vw;
        background-repeat: no-repeat;

    }

    .hero {
        flex-direction: column;
        width: 100vw;
    }

    .graphics, .text {
        width: 80%;
        margin: 10%;
    }

    .illustration-mockups {
        margin-top: 3em;
    }

    .illustration-mockups img {
        max-width: 100%;
    }

    .text {
        margin-top: 5%;
    }
    .website-info {
        margin: 0;
    }

    .title {
        font-size: .9em;
        text-align: center;
    }

    .description {
        font-size: .92em;
        text-align: center;
        line-height: 1.7em;
    }

    .buton-container {
        display: flex;
        justify-content: center;
    }
    .register-button {
        width: 200px;
    }

    .social-links {
        margin: 3.5em auto 0;
    }
  
}