* {
    margin: 0;
}

body {
    color: white;
    background: url('../images/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.hero {
    max-width: 1440px;
    height: 100vh;
    display: flex;

}

.graphics, .text {
    display: flex;
    flex-wrap: wrap;
    margin: 3% 0;
}

.graphics {
    margin-left: 5%;
    width: 60%;
}

.text {
    width: 40%;
    margin: 5% 5% 2% 0;
    align-items: center;
    justify-content: flex-end;
}



.logo figure {
    height:2em;
}

.logo img {
    height: 2em;
}

.illustration-mockups {
    width: 100%;
    justify-content: center; 
}


.illustration-mockups  img{
    max-width: 92%;
}

.website-info {
    margin: 2.5em 0 0 0;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
}

.description {
    margin-top: 1.4em;
    font-size: .8em;
    line-height: 1.5em;
}

.register-button{
    margin-top: 1.5em;
    height: 3em;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: hsl(257, 40%, 49%) ;
    width: 140px;
    border-radius: 3em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}

.social-links {
    align-self: flex-end;
    display: flex;
}

.fab {
    border: 1px solid white;
    height: 2em;
    width: 2em;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: .8em;
    margin-left: .8em;
}

@media screen and (max-width: 375px) {

}